<!DOCTYPE html>
<html lang="en" ng-app="log_ut">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

    <title>Loc'UTC - Louez sereinement entre UTCéens</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="mainController">
  	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Loc'UTC</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="accueil.html">Accueil</a></li>
            <li><a href="About.html">A propos</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catégories <span class="caret"></span></a>
              <ul class="dropdown-menu" ng-repeat="cats in tab_cat">
              	<li ng-repeat="cat in cats"><a  href ="" ng-click="filters.categorie_key = cat.id" >{{cat.nom}}</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="panier.html"><img src="icon-panier.png" width="15px" height="15px" /></a> </li>
            <li><a href="../navbar-static-top/">Connexion</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container main-container"><div class="row-fluid">
	<div class="row-fluid">
		<div class="span12" style="margin-top: 120px;">
				<div class="hero-unit">
					<h1>Bienvenue sur loc'UTC</h1>
					<p>TROLOLO <br>
					<div >
                <ul ng-repeat="items in tab">
                <li ng-repeat="item in items | filter:filters">
                {{item.nom}}
                {{item.dispo}}
                {{item.caution}}
                </li>
                </div></p>
				</div>
		</div>
	</div>
</div>

			</div> <!-- Fermeture du main-container -->
			<footer>
				<hr style="width:60%; margin: auto;">
				<p class="text-center" style="margin-top: 10px;">Fait au Hackathon Novembre 2015 par Valentin Montupet, Gabriel Hurtado, Maxime Churin et Robin Bria.</p>
			</footer>
		</div> <!-- Holder global -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
